<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="customer">
    <!-- 以下与实体类的中字段一致 -->
    <sql id="selectId">
		id,
		customerNo,
		customerName,
		sex,
		birthDay,
		birthDay2,
		mobile,
		address,
		regDate,
		remark,
		headImg,
		cardNo,
		cardPwd,
		cardType,
		operateManager,
		operateMoney,
		cardCreateDate,
		cardMoney,
		freeMoney,
		alarmMoney,
		score
	</sql>
    <!--resultType="Customer" 每返回一条结果封装到Customer里 -->
    <select id="query" resultType="Customer" parameterType="java.util.HashMap">
        select
        <include refid="selectId"/>
        from customer
        <where>
            delFlag != true
            <if test="t.customerName != null and t.customerName != ''">
                and customerName like '%${t.customerName}%'
            </if>
            <if test="t.customerNo != null and t.customerNo != ''">
                and customerNo like '%${t.customerNo}%'
            </if>
            <if test="t.mobile !=null and t.mobile !=''">
                and mobile = '%${t.mobile}%'
            </if>
            <if test="t.cardNo !=null and t.cardNo !=''">
                and cardNo = '%${t.cardNo}%'
            </if>
            <if test="t.cardType != -1 and t.cardType !='' and t.cardType!=null">
                and cardType = '${t.cardType}'
            </if>
            <if test="t.operateManager !=null and t.operateManager !=''">
                and operateManager = '%${t.operateManager}%'
            </if>
        </where>
    </select>
    <select id="findAll" resultType="Customer">
        select
        <include refid="selectId"/>
        from customer WHERE delFlag = FALSE;
    </select>
    <!-- 增加用户 -->
    <insert id="add" parameterType="Customer">
		insert into customer(
		customerNo,
		customerName,
		sex,
		birthDay,
		birthDay2,
		mobile,
		address,
		regDate,
		remark,
		headImg,
		cardNo,
		cardPwd,
		cardType,
		operateManager,
		operateMoney,
		cardCreateDate,
		cardMoney,
		freeMoney,
		alarmMoney,
		score
		)
		values (#{customerNo},#{customerName},#{sex},#{birthDay},#{birthDay2},#{mobile},#{address},
		#{regDate},#{remark},#{headImg},#{cardNo},#{cardPwd},#{cardType},#{operateManager},
		#{operateMoney},#{cardCreateDate},#{cardMoney},#{freeMoney},#{alarmMoney},#{score}
		)
	</insert>

    <delete id="deleteById" parameterType="String">
		delete from customer where
		id=#{id}
	</delete>

    <update id="deleteLogicById" parameterType="String">
        UPDATE customer set delFlag = true  where id = #{id}
    </update>

    <select id="getById" parameterType="String" resultType="Customer">
        select
        <include refid="selectId"/>
        from customer where id=#{id}
    </select>

    <select id="getByNo" parameterType="String" resultType="Customer">
        select
        <include refid="selectId"/>
        from customer where customerNo=#{no}
    </select>

    <select id="getByCardNo" parameterType="String" resultType="Customer">
        select
        <include refid="selectId"/>
        from customer where cardNo=#{cardNo} and delFlag != true
    </select>

    <select id="queryAll" resultType="Customer">
        select
        <include refid="selectId"/>
        from customer WHERE delFlag = FALSE
    </select>

    <update id="update" parameterType="Customer">
        update customer
        <set>
            <if test="cardMoney != null and cardMoney >= 0 ">
                cardMoney = #{cardMoney},
            </if>
            <if test="customerName != null and customerName !=''">
                customerName=#{customerName},
            </if>
            <if test="sex != null and sex !=''">
                sex=#{sex},
            </if>
            <if test="birthDay != null and birthDay !=''">
                birthDay=#{birthDay},
            </if>
            <if test="mobile != null and mobile !=''">
                mobile=#{mobile},
            </if>
            <if test="address != null and address !=''">
                address=#{address},
            </if>
            <if test="cardPwd != null and cardPwd !=''">
                cardPwd = #{cardPwd},
            </if>
            <if test="cardType != null and cardType !=''">
                cardType = #{cardType},
            </if>
            <if test="operateManager != null and operateManager !=''">
                operateManager = #{operateManager},
            </if>
            <if test="alarmMoney != null and alarmMoney !=''">
                alarmMoney = #{alarmMoney},
            </if>
            <if test="score != null and score !=''">
                score = #{score}
            </if>
        </set>
        where id=#{id}
    </update>
</mapper>